{% assign username = include.username %}
{% unless username %}
{% assign username = site.codepen_username %}
{% endunless %}

<p data-height="300" data-theme-id="0" data-slug-hash="eYVZaOJ" data-default-tab="html,css,js,result" data-user="chaevivin" class='codepen split-output'>
See the Pen <a href='https://codepen.io/chaevivin/pen/eYVZaOJ/'>css_reset</a> by chaevivin (<a href='https://codepen.io/chaevivin'>@chavivin</a>) on <a href='https://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
